<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/picture.css">  
    <link rel="icon" href="/images/icons/icon256px.png">  
    <link rel="apple-touch-icon" href="/images/icons/icon256px.png">
    <title>Bildaufnahme</title>
</head>
<body>
    
     <div id="screenshot">
        <video class= "border center" id="video" width="640" height="480" autoplay></video>
        <button class="btn btn-sm btn-primary" id="capture-button">Kamera Starten</button>
        <button class="btn btn-sm btn-primary" id="screenshot-button">Foto machen</button>
        <img id="imgCVS" src=""><!-- resulting screenshot-->
        <canvas class="border center" width="640" height="480" style="display: none;"></canvas>
    </div>
    <div id="form">
        <form method = "post" action="/upload-screenshot" enctype="multipart/form-data"> 
            <button class="btn btn-sm btn-primary" type="submit" id="uploadFile" value="Upload">Upload</button>
        </form>
    </div>
    <div id="back">
        <a class="btn btn-sm btn-primary" href="/user-profil/profil">Mein Profil</a>
    </div>   
        
        <script src="/js/picture.js"></script>

</body>
</html>