<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="/css/upload-form.css">  
    <link rel="icon" href="/images/icons/icon256px.png">  
    <link rel="apple-touch-icon" href="/images/icons/icon256px.png">

    <title>Datei-Upload</title>
</head>
<body>  

  <span>
    <% if (typeof succ != 'undefined') { %> <% succ.forEach(error => { %>
    <p id="succ"><%= error.message %></p>
    <% }) %> <% } %>
    </span>   
     
    <span>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
      <p id="err"><%= error.message %></p>
      <% }) %> <% } %>
      </span>
 

<form action="/up/:iduser" method="POST" enctype="multipart/form-data">
  <div class="file-container">
  <div class="file-overlay">
  <div class="file-wrapper">
    <input class="file-input" id="js-file-input" type="file" name="upload">
    <center><button id="sub" type="submit">Hochladen</button></center>
    <div class="file-content">
      <div class="file-infos">
        <p class="file-icon"><i class="fas fa-file-upload fa-7x"></i><span class="icon-shadow"></span><span>Kickle hier<span class="has-drag"> oder drope die Datei</p>
      </div>
      <p class="file-name" id="js-file-name">Keine Datei ausgewählt</p>
    </div>
  </div>
</div>  
</form>

<script type="text/javascript" src="/js/upload-form.js"></script> 
      

</body>
</html>