<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/voice.css">
    <link rel="icon" href="/images/icons/icon256px.png">  
    <link rel="apple-touch-icon" href="/images/icons/icon256px.png">
    <title>Audioaufnahme</title>
</head>
<body>
    <!--<div class="hermann">-->
    <div id="container">
        <audio id="gum" autoplay muted playsinline></audio>
        <audio id="recorded" autoplay controls loop playsinine></audio>

        <div>
            <section class="main-controls">
                <canvas class="visualizer" height="60px"></canvas>
                <button id="record">Aufnahme starten</button>
                <!--<button class= "border button" id="stopRecord">Aufnahme beenden</button>-->
                <button id="play" disabled>Play</button>
                <button id="download" disabled>Download</button>
             </section>

            <section class="sound-clips"></section>
        </div>

        <form method = "POST" action="/upload-audio" enctype="multipart/form-data"> 
            <input type="file" name="file"/>
            <button type="submit" id="uploadFile" value="Upload">upload</button>
        </form>

        <script src="/js/voice.js"></script>
</div>
        
        <!--
        <div class= "center" id="mp3"></div>
        <div class= "center" id="download"></div>
        -->

    <!--<form action="/voice-maker" method="post">
        <button type="submit">In Datenbank hochladen</button>
    </form>
    -->
       
    <!--</div>-->
</body>
</html>