/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); 


body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(243, 227, 250);
}

.container-fluid {
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
}

.container-fluid h2 {
    color:rgba(0, 0, 0, 0.644);
    position: relative;
    width: 23rem;
}

.accordion {
    width: 100%;
    padding: 0 0px;
    border: 2px solid #3e789c;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.accordion .icon {
    margin: 0 10px 0 -4px;
    width: 35px;
    height: 30px;
    background: url(/images/icons/faqDropDown20x20.png) no-repeat 8px 7px #3e789c;
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;
}

.accordion h5 {
    font-size: 1.3em;
    margin: 0;
    padding: 5px 0 0 0;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.panel {
    padding: 0 15px;
    border-left: 1px solid #3e789c;
    margin-left: 25px;
    font-size: 16px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all .5s ease-in;
}

#backToLogin{
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    margin: 10px auto;
    width: 20%;
}