* {
    padding: 0;
    margin: 0;

} 


body{
    background-color: rgb(243, 227, 250);
}
#container {
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
} 

.tabs {
    display: table-cell;
    width: 40%;
    background-color: rgba(2, 95, 135, 0.82);
    padding: 10px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #ffffff;
    border-bottom: 0px;
    position: relative;
    font-size: 1.3em;
    color: #000000;
}
.tabs:hover, p{
    cursor: pointer;
}

#lt {

    background-color: rgba(2, 95, 135, 0.82);
}

#cont {
    width: 100%;
    height: 323px;
    background-color: rgba(2, 95, 135, 0.82);
    border: 2px solid #ffffff;
}

input{
    display: block;
    width: 250px;
    margin: 10px 13px;
    padding: 10px;
    font-size: 1.3em;
    color: rgba(2, 95, 135, 0.82);
    outline: 2px solid #ffffff;
}

input[type="submit"] {
    width: 272px;
    color: #2d2c2c;
}

#clear {
    clear: both;
}

.comm {
    visibility: hidden;
    position: absolute;
}

#login {

    visibility: visible;
}

h3 {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 15px;
    font-size: 1.5em;
    color: #ffffff;
}

#forgot h3 {
    display: block;
    margin-top: 30px;
    text-align: center;
}

#forgot div {
    margin-top: 30px;
}
p {
    padding: 10px 15px;
    font-size: 1.3em;
    color: #060404;
}