html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body { 
  background-color: #f2e4f9;
}


div {
  text-align: center;
}

#form {
  width: 150px; 
	margin: 0 auto;
  

  display: flex;
  justify-content: center;
}

#back {
  position: absolute;
  right: 100px;
  right: 30%;
  right: 3em; 
  top: 50px;
}


.btn-primary {
  color: #fff;
  border-color: black;
  background-color: #3e789c;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  display: block;
  margin: auto;
}

.btn-primary:hover {
  color: #fff;
  border-color: black;
  background-color: #3e789c;
}

.btn-primary:focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(94, 114, 228, .5);
}



.btn-sm {
  line-height: 1.5;
  padding: .25rem .5rem;
  border-radius: .375rem;
  
 
}

.bg-gradient-default {
  background: linear-gradient(87deg, rgb(243, 227, 250) 0, rgb(243, 227, 250) 100%) !important;
}

/*Buttons werden hervorgehoben */
.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

/*Buttons werden verkleinert */
.btn-sm {
  font-size: .75rem;
}



.button {
    background-color: #3e789c;
    color: white;

    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width:150px;
    height:50px; 
  }

.button:hover{ 
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.border{
  border: 2px solid rgb(0, 0, 0);
}
  
.center{
  display: inline-block;;
  margin: auto;
}
  

.screenshot{
  display: flex;
  align-items: center;
  justify-content: center;
}


  