body{
    background-color: rgb(243, 227, 250);
    margin: 0;
    text-align: center;
    font-size: 17px;
    padding: 0;

}

table{
    margin: 70px auto;
    font-weight: bold;
}

th, td {
    padding: 5px;
    
}

td:nth-child(2) {
    cursor: pointer;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
}


header {
    padding: 0 15px;
    text-align: center;
    font-size: 21px;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    margin: 5px 0;

}

.column{

    border: 1px solid #666;
    margin: 2px;
    padding: 10px;
    background: #3af4d5;
    transition: 0.3s;
}

.column:first-child{
    margin-left: 0;
    background: #ff307f;
    float: left; width: 8%;
    justify-content: left;
}
.column:last-child{
    margin-left: 0;
    background: #7f95d1;
    float: right; width: 65%;
    
}

button {
    background-color: #3e789c;
    color: white;
 
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
   
    
  }

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

select {
    width: 9em;
    height: 3em;
    color: white;
    background-color: #3e789c;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
}


@media screen and (max-width: 980px) {
    .columns .column{
        margin-bottom: 5px;
        flex-basis: 40%;
    }
    .columns .column:last-child{
        flex-basis: 100%;
        margin: 0;
    }
    .columns .column:nth-last-child(2){
        margin-right: 0;
    }
}
@media screen and (max-width: 680px) {
    .columns .column{
        margin: 0 0 5px 0;
        flex-basis: 100%;
    }
}

