body{
    background-color: rgb(243, 227, 250);
}

/*remove maring padding*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Navigation bar*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: #3e789c;
}
/*top left text*/
.logo{
    color: rgb(65, 1, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}
/*links*/
.nav-links{
    display: flex;
    width: 15%;
    justify-content: space-around;
}
/*remove bullet point*/
.nav-links li{
    list-style: none;
}
/*Clean up links*/
.nav-links a{
    color: rgb(65, 1, 1);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
}
/*Menu icon*/
.burger{
    display: none;
    cursor: pointer;
}
/*clean up Icon*/
.burger div{
    width: 20px;
    height: 3px;
    background-color: rgb(65, 1, 1);
    margin: 5px;
    transition: all 0.3s ease;
    

}

.websiteHeadline h2{
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    margin: 50px;
    padding: 0px;
}

.innerTextHeadline{
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
    margin: 10px;
    padding: 0px;
}

.innerText{
    font-size: 15px;
    margin: 10px;
    padding: 0px;
}


/*for Mobile screen 768px or less*/
@media screen and (max-width:768px){
    /*hides links*/
    body{
       overflow-x: hidden; 
    }
    /*container for links*/
    .nav-links{
        position: absolute;
        right: 0px;
        height: 20vh;
        top: 1vh;
        background-color: #3e789c;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    /*shows menu Icon*/
    .burger{
        display: block;
    }
    /*show navigation*/
    .nav-active{
        transform: translateX(0%);
    }
    /*Animation for Links*/
    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    /*Animation Burger to "X"*/
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2{
        opacity: 0;
    }

    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }


}
