/*body { 
  background-color: #f2e4f9;
}
 
 .button {
    background-color: #3e789c;
    color: white;
 
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width:150px;
    height:50px;
  }

.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.border{
  border: 2px solid rgb(0, 0, 0);
}
  
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
  

.hermann{
  display: flex;
  justify-content: center;
}
*/





button {
  margin: 0 3px 10px 0;
  padding-left: 2px;
  padding-right: 2px;
  width: 99px;
}

button:last-of-type {
  margin: 0;
}

p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

audio {
  height: 232px;
  margin: 0 12px 20px 0;
  vertical-align: top;
  width: calc(20cm - 10px);
}

audio:last-of-type {
  margin: 0 20px 20px 0;
}

audio#gumAudio {
  margin: 0 20px 20px 0;
}

@media (max-width: 720px) {
  audio {
      height: calc((50vw - 48px) * 3 / 4);
      margin: 0 10px 10px 0;
      width: calc(50vw - 48px);
  }

  audio#gumAudio {
      margin: 0 10px 10px 0;
  }
}